* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    text-align: center;
    padding: 0 10px;
}

main {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 100%;

}

#cnt-both-main {
    width: 100%;
    height: 50px;
}

#height-container {
    max-width: 60vw;
    width: 80vw;
    height: 100%;
}

aside {
    position: relative;
}

.cnt-aside {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cnt-aside a {
    margin-bottom: 10px;
}

aside a {
    font-size: 30px;
}

a {
    font-size: 25px;
    padding: 10px;
}

#logo {
    color: #1d9bf0;
}

.setting,
.fa-ellipsis {
    color: #2d3136;
}

input {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #eff3f4;
}

input:focus {
    outline: aqua 1px solid;
    box-shadow: 0 0 10px #888;
}

label {
    position: relative;
}

label i {
    position: absolute;
    left: 15px;
    top: 10px;
    transform: translateY(-50%);
}

input[type="text"] {
    padding-left: 45px;
}

.btn-setting {
    margin: 15px 0 0 50px;
    font-size: 20px;
}

h2 {
    padding: 10px 15px;
}

.tendenze {
    padding: 10px 15px;
    position: relative;
    height: 90px;
}

#punti.fa-ellipsis {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 20px;
    background-color: rgba(15, 149, 226, 0.15);
    border-radius: 50%;
    color: rgba(15, 149, 226, 0.6);
    display: none;
}

.twt {
    margin: 5px 0;
}

.txt {
    display: inline-block;
    width: fit-content;
}

.tendenze {
    cursor: pointer;
}

.tendenze:hover {
    background-color: rgba(160, 159, 159, 0.1);
}

a .fa-ellipsis {
    position: absolute;
    right: 5px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;

}

a .fa-ellipsis:hover {
    background-color: rgba(15, 149, 226, 0.15);
    border-radius: 50%;
    color: rgba(15, 149, 226, 0.6);
}

.hide {
    display: none;

}

#show-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#fixed-footer {
    display: flex;
    background-color: #1d9bf0;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    justify-content: space-around;
}


#footer {
    margin: 10px 0;
    width: 80%;
    display: flex;
    justify-content: space-around;

}

.text-footer h2 {
    padding: 0;
}

.btn-footer button {
    width: 6em;
    height: 3em;
    border-radius: 2em;
    background-color: transparent;
    border: none;

}

.btn-footer button.btn.log {
    color: #fff;
    border: 1px solid #fff;
}

.btn-footer button.btn.reg {
    background-color: #fff;
}

#alert,
#alert-pnt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px;
    padding: 20px;
    height: 140px;
    z-index: 9999;
    text-align: center;

}

.hidden {
    display: none;
}

#alert .alert-btn,
#alert-pnt .alert-btn {
    justify-content: center;
    display: flex;

}

div#alert button.close-btn,
div#alert-pnt button.close-btn {
    color: #fff;
    background-color: #1d9bf0;
    width: 8em;
    height: 2em;
    position: absolute;
    bottom: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}